html, body{
  height: 100%;
  width: 100%
}

body {
  background-image: url("/assets/ASTAiR.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position:75% 0;
  content : 'fit';
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
