/*html,
body,
header,
#intro{
    height: 100%;
}
#intro{
    background: url("ASTAiR.png") no-repeat center center fixed;
    -webkit-backgroun-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: #ea503f;
    font-family: Helvetica;
  }
*/
.view {
    background-image: url('ASTAiR.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    }
    
    .gradient {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
    background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    }
    
    .card {
    background-color: rgba(126, 123, 215, 0.2);
    }
    
    h6 {
    line-height: 1.7;
    }
    
    .navbar {
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    
    label {
    color: #000!important;
    }